<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>
<form method="post" action="/transaction ">
    <table>
        <tr>
            <td><label for="senderName">Sender Name</label></td>
            <td><input id="senderName" type="text" name="senderName"></td>
        </tr>
        <tr>
            <td><label for="senderPassword">Sender Password</label></td>
            <td><input id="senderPassword" type="text" name="senderPass"></td>
        </tr>
        <tr>
            <td><label for="moneyField">Money</label></td>
            <td><input id="moneyField" type="text" name="count"></td>
        </tr>
        <tr>
            <td><label for="nameTo">Send To</label></td>
            <td><input id="nameTo" type="text" name="nameTo"></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center"><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>